@{
    ViewBag.Title = "EmailError";
    Layout = "~/Views/Shared/_LayoutFormExternal.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success Register</title>
</head>
<body>
    <div>
        <p>Can't send email'</p>
    </div>
</body>
</html>

