@{
    ViewBag.Title = "Register Successful";
    Layout = "~/Views/Shared/_LayoutFormExternal.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register Successful</title>
</head>
<body>
    <div>
        <p>Hello Dear Customer.<br /> Thank you very much for registering. <br />  Our Biodent Myanmar Admin Team will respond to your registration shortly.</p><br /><br />

        <br />
        <p>Sincerely,<br /> Biodent Myanmar </p>
    </div>
</body>
</html>

