@{
    ViewBag.Title = "User Successful";
    Layout = "~/Views/Shared/_LayoutFormExternal.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User already exists</title>
</head>
<body>
    <div>
        <p>Hello Dear Customer.<br /> This phone number is already register <br />  User account is already exists</p><br /><br />

        <br />
        <p>Sincerely,<br /> Biodent Myanmar </p>
    </div>
</body>
</html>

