@model IEnumerable<Biodent.Models.UsersModel>

@{
    ViewBag.Title = "Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">

        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">

                <table id="example1" class="table table-sm table-hover dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 50.55px;" aria-label="Browser: activate to sort column ascending">
                                User Name
                            </th>
                            <th class="sorting_asc_disabled sorting_desc_disabled" tabindex="0" rowspan="1" colspan="1" style="width: 50.267px;" aria-label="CSS grade: activate to sort column ascending">
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1">@Html.DisplayFor(modelItem => item.UsersName)</td>
                                <td class="dtBtnPosition">
                                    @Html.ActionLink("Start Chat", "Create", new { id = item.UsersID }, new { @class = "btn btn-primary" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->